#paymentSection h3{
    color: rgb(175, 25, 25);
}

.section-border {
    border: 3px solid black;
}

section {
    max-width: 600px;
    width: 80%;
    margin: 25px;
    padding: 0px 0px 50px 0px;
}

.flex-col-cntr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h3 {
    padding-left: 40px;
}

img {
    
}

form {
    /*background-image: ;*/
    background-color: aqua;
    max-width: 700px;
    width: 80%;
    margin: auto;

}

#paymentSection h2 , #foodSection h2 , #drinkSection h2 {
    position: relative;
    top: -35px;    
    left: 20px;
    width: auto;
}


#paymentSection h2 span , #foodSection h2 span , #drinkSection h2 span {
    background-color: white;
}

#paymentSection{
    
}

#foodSection {

}

#drinkSection {

}

html, body {
    min-width: 600px;
    padding: 0px;
    margin: 0px;
}


